@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

html,
body {
  background-color: #fff;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

body * {
  padding: 0;
  margin: 0;
}

#root,
#root * {
  background-color: #fff;
}

a.link:hover {
  color: #000;
}

a.navbar-burger {
  background-color: #333 !important;
}

.avatar {
  border-radius: 50%;
}

